In [1]:
import pandas as pd

In [2]:
costs = pd.read_csv('Housing_costs1.csv', sep=';')

In [3]:
def get_metadata(dataset, start, end):
    new_df = dataset.loc[start:end].copy()
    new_df.columns = new_df.iloc[0]
    new_df.drop(start, axis=0, inplace=True)
    return new_df

In [4]:
costs

,ID,OwnerOrTenant,DwellingCharacteristics,Accuracy,Region,Periods,TotalHousingCosts_1,NetRentOrMortgage_2,AdditionalHousingCosts_3,HousingCostRatio_4,NonSkewedRent_5,SkewedTowardsCheapRent_6,SkewedTowardsExpensiveRent_7
0,0,T001096,T001100,MW00000,NL01,2012JJ00,863,641,222,34.0,.,.,.
1,1,T001096,T001100,MW00000,NL01,2015JJ00,839,627,212,33.0,.,.,.
2,2,T001096,T001100,MW00000,NL01,2018JJ00,864,653,211,32.6,.,.,.
3,3,T001096,T001100,MW00000,LD01,2012JJ00,819,587,233,34.8,.,.,.
4,4,T001096,T001100,MW00000,LD01,2015JJ00,781,562,219,33.1,.,.,.
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87115,87115,A025406,ZW10280,MBG0095,GM0637,2015JJ00,679,520,166,38.4,72.0,38.7,17.0
87116,87116,A025406,ZW10280,MBG0095,GM0637,2018JJ00,622,466,164,40.8,89.2,21.2,18.2
87117,87117,A025406,ZW10280,MBG0095,GM0193,2012JJ00,531,385,150,39.0,83.4,26.2,5.7
87118,87118,A025406,ZW10280,MBG0095,GM0193,2015JJ00,.,.,.,.,.,.,.
87119,87119,A025406,ZW10280,MBG0095,GM0193,2018JJ00,555,416,143,39.9,88.6,21.0,8.6

In [5]:
housing_satisfaction = pd.read_csv('Housing_satisfaction_household_and_dwelling_characteristics.csv', sep=';')

In [6]:
housing_satisfaction

,ID,OwnerTenant,HouseholdCharacteristics,DwellingCharacteristics,Margins,Periods,SatisfactionWithCurrentDwelling_1,SatisfactionWithLivingEnvironment_2
0,0,T001096,1050010,T001100,MW00000,2002JJ00,89.2,84.3
1,1,T001096,1050010,T001100,MW00000,2006JJ00,89.7,85.0
2,2,T001096,1050010,T001100,MW00000,2009JJ00,90.0,83.4
3,3,T001096,1050010,T001100,MW00000,2012JJ00,89.0,84.1
4,4,T001096,1050010,T001100,MW00000,2015JJ00,86.9,82.0
...,...,...,...,...,...,...,...,...
65515,65515,A025406,A025782,ZW10280,MBG0095,2006JJ00,83.7,79.6
65516,65516,A025406,A025782,ZW10280,MBG0095,2009JJ00,77.4,71.2
65517,65517,A025406,A025782,ZW10280,MBG0095,2012JJ00,78.6,78.3
65518,65518,A025406,A025782,ZW10280,MBG0095,2015JJ00,78.2,71.0
65519,65519,A025406,A025782,ZW10280,MBG0095,2018JJ00,71.9,74.8

In [7]:
metadata_costs = pd.read_csv('metadata_costs.csv', sep=';')

In [8]:
metadata_costs.reset_index(inplace=True)

In [9]:
metadata_costs

,level_0,level_1,level_2,level_3,level_4,level_5,level_6,level_7,level_8,level_9,...,level_11,level_12,level_13,level_14,level_15,level_16,level_17,level_18,level_19,TableInfos
0,ID,Title,ShortTitle,Identifier,Summary,Modified,ReasonDelivery,ExplanatoryText,Language,Catalog,...,Period,ShortDescription,Description,DefaultPresentation,DefaultSelection,GraphTypes,OutputStatus,Source,MetaDataModified,SearchPriority
1,0,Housing costs of households; dwelling characte...,Housing costs of households by region,84488ENG,"Housing costs, Housing cost ratio, Skewed rent...",2019-04-04T02:00:00,New,NaN,en,CBS,...,"2012,2015,2018",\nThis table contains figures on the housing c...,CONTENTS\n\n1. General information\n2. Definit...,ts=1554128044431&graphtype=Table&r=Region&k=To...,$filter=((OwnerOrTenant eq 'T001096') or (Owne...,"Table,Bar,Line,Map",Regular,CBS.,2019-04-04T02:00:00,2
2,DataProperties,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ID,Position,ParentID,Type,Key,Title,Description,ReleasePolicy,Datatype,Unit,...,Default,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0,0,NaN,Dimension,OwnerOrTenant,Owner or tenant,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,Periods,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Key,Title,Description,Status,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
146,2012JJ00,2012,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,2015JJ00,2015,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,2018JJ00,2018,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
periods = get_metadata(metadata_costs, 145, 149)

In [11]:
periods.set_index('Key', drop=True, inplace=True)

In [12]:
periods.head(6)

145,Title,Description,Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Key,,,,,,,,,,,,,,,,,,,,
2012JJ00,2012,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015JJ00,2015,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018JJ00,2018,NaN,Definitief,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
region = get_metadata(metadata_costs, 55, 143)

In [14]:
region.head(4)

55,Key,Title,Description,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NL01,The Netherlands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,LD01,Noord-Nederland (LD),"LD = Landsdeel\n\nNoord-Nederland: Groningen, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,LD02,Oost-Nederland (LD),"LD = Landsdeel\n\nOost-Nederland: Overijssel, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,LD03,West-Nederland (LD),"LD = Landsdeel\n\nWest-Nederland: Utrecht, Noo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
accuracy = get_metadata(metadata_costs, 50, 53)

In [16]:
accuracy.head(4)

50,Key,Title,Description,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,MW00000,Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,MOG0095,Lower bound 95% confidence interval,This is the lower bound of the interval that c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,MBG0095,Upper bound 95% confidence interval,This is the upper bound of the interval that c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
dwelling_characteristics = get_metadata(metadata_costs, 26, 48)

In [18]:
dwelling_characteristics.head(4)

26,Key,Title,Description,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2060100,Dwelling: 1st 25%-group WOZ,Dwelling in 1st 25%-group in terms of value un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2060110,Dwelling: 2nd 25%-group WOZ,Dwelling in 2nd 25%-group in terms of value un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2060120,Dwellings: 3rd 25%-group WOZ,Dwelling in 3rd 25%-group in terms of value un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2060130,Dwellings: 4th 25%-group WOZ,Dwelling in 4th 25%-group in terms of value un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
owner_or_tenant = get_metadata(metadata_costs, 19, 24)

In [20]:
owner_or_tenant.head(4)

19,Key,Title,Description,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,T001096,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,A025403,Owner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,A025404,Tenant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,A025405,Rents dwelling from private owner,Private owners include institutional investors...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now I'd like to check that column Periods contain only 3 categories of values. If so, then I will replace the codes of periods with the number of year in datetime type.

In [21]:
cost_periods = costs['Periods'].unique()

In [22]:
costs['Periods'].replace(periods['Title'].to_dict(), inplace=True)

In [44]:
costs[(costs['Region'] == 'NL01')]

Empty DataFrame
Columns: [ID, OwnerOrTenant, DwellingCharacteristics, Accuracy, Region, Periods, TotalHousingCosts_1, NetRentOrMortgage_2, AdditionalHousingCosts_3, HousingCostRatio_4, NonSkewedRent_5, SkewedTowardsCheapRent_6, SkewedTowardsExpensiveRent_7]
Index: []

In [38]:
costs.query('OwnerOrTenant == 'A025403' & Region == 'NL01'')

SyntaxError: invalid syntax (<ipython-input-38-312e97abe768>, line 1)

In [45]:
costs['Region'].unique()

array(['NL01    ', 'LD01    ', 'LD02    ', 'LD03    ', 'LD04    ',
       'PV20    ', 'PV21    ', 'PV22    ', 'PV23    ', 'PV24    ',
       'PV25    ', 'PV26    ', 'PV27    ', 'PV28    ', 'PV29    ',
       'PV30    ', 'PV31    ', 'CR01    ', 'CR02    ', 'CR03    ',
       'CR04    ', 'CR05    ', 'CR06    ', 'CR07    ', 'CR08    ',
       'CR09    ', 'CR10    ', 'CR11    ', 'CR12    ', 'CR13    ',
       'CR14    ', 'CR15    ', 'CR16    ', 'CR17    ', 'CR18    ',
       'CR19    ', 'CR20    ', 'CR21    ', 'CR22    ', 'CR23    ',
       'CR24    ', 'CR25    ', 'CR26    ', 'CR27    ', 'CR28    ',
       'CR29    ', 'CR30    ', 'CR31    ', 'CR32    ', 'CR33    ',
       'CR34    ', 'CR35    ', 'CR36    ', 'CR37    ', 'CR38    ',
       'CR39    ', 'CR40    ', 'GM0361  ', 'GM0034  ', 'GM0484  ',
       'GM0307  ', 'GM0363  ', 'GM0200  ', 'GM0202  ', 'GM0758  ',
       'GM0503  ', 'GM0505  ', 'GM0228  ', 'GM0772  ', 'GM0114  ',
       'GM0153  ', 'GM0518  ', 'GM0014  ', 'GM0392  ', 'GM0394  ',
       'GM0796  ', 'GM0080  ', 'GM0546  ', 'GM0935  ', 'GM0268  ',
       'GM0599  ', 'GM0855  ', 'GM0344  ', 'GM0983  ', 'GM1783  ',
       'GM0479  ', 'GM0637  ', 'GM0193  '], dtype=object)