In [51]:
import pandas as pd
import csv
from collections import defaultdict

## Reading the metadata file

In [73]:
with open('metadata_costs.csv', newline='', encoding='utf-8-sig') as csvfile:
    filereader = csv.reader(csvfile, delimiter=';')
    name = ''
    data = defaultdict(list)
    for row in filereader:
        if len(row) == 1:
            name = row[0]
        else:
            data[name].append(row)

In [60]:
data.keys()

dict_keys(['TableInfos', 'DataProperties', 'OwnerOrTenant', 'DwellingCharacteristics', 'Accuracy', 'Region', 'Periods'])

In [61]:
owner_or_tenant = pd.DataFrame(columns=data['OwnerOrTenant'][0], data=data['OwnerOrTenant'][1:])
dwelling_characteristics = pd.DataFrame(columns=data['DwellingCharacteristics'][0], data=data['DwellingCharacteristics'][1:])
accuracy = pd.DataFrame(columns=data['Accuracy'][0], data=data['Accuracy'][1:])
region = pd.DataFrame(columns=data['Region'][0], data=data['Region'][1:])
periods = pd.DataFrame(columns=data['Periods'][0], data=data['Periods'][1:])

In [68]:
owner_or_tenant.head(4)

,Key,Title,Description
0,T001096,Total,
1,A025403,Owner,
2,A025404,Tenant,
3,A025405,Rents dwelling from private owner,Private owners include institutional investors...

In [69]:
dwelling_characteristics.head(4)

,Key,Title,Description
0,2060100,Dwelling: 1st 25%-group WOZ,Dwelling in 1st 25%-group in terms of value un...
1,2060110,Dwelling: 2nd 25%-group WOZ,Dwelling in 2nd 25%-group in terms of value un...
2,2060120,Dwellings: 3rd 25%-group WOZ,Dwelling in 3rd 25%-group in terms of value un...
3,2060130,Dwellings: 4th 25%-group WOZ,Dwelling in 4th 25%-group in terms of value un...

In [70]:
accuracy.head(4)

,Key,Title,Description
0,MW00000,Value,
1,MOG0095,Lower bound 95% confidence interval,This is the lower bound of the interval that c...
2,MBG0095,Upper bound 95% confidence interval,This is the upper bound of the interval that c...

In [71]:
region.head(4)

,Key,Title,Description
0,NL01,The Netherlands,
1,LD01,Noord-Nederland (LD),"LD = Landsdeel\n\nNoord-Nederland: Groningen, ..."
2,LD02,Oost-Nederland (LD),"LD = Landsdeel\n\nOost-Nederland: Overijssel, ..."
3,LD03,West-Nederland (LD),"LD = Landsdeel\n\nWest-Nederland: Utrecht, Noo..."

In [72]:
periods.head(4)

        Key Title Description      Status
0  2012JJ00  2012              Definitief
1  2015JJ00  2015              Definitief
2  2018JJ00  2018              Definitief

## Reading the data files

In [75]:
costs = pd.read_csv('Housing_costs1.csv', sep=';')

In [76]:
costs.head(6)

,ID,OwnerOrTenant,DwellingCharacteristics,Accuracy,Region,Periods,TotalHousingCosts_1,NetRentOrMortgage_2,AdditionalHousingCosts_3,HousingCostRatio_4,NonSkewedRent_5,SkewedTowardsCheapRent_6,SkewedTowardsExpensiveRent_7
0,0,T001096,T001100,MW00000,NL01,2012JJ00,863,641,222,34.0,.,.,.
1,1,T001096,T001100,MW00000,NL01,2015JJ00,839,627,212,33.0,.,.,.
2,2,T001096,T001100,MW00000,NL01,2018JJ00,864,653,211,32.6,.,.,.
3,3,T001096,T001100,MW00000,LD01,2012JJ00,819,587,233,34.8,.,.,.
4,4,T001096,T001100,MW00000,LD01,2015JJ00,781,562,219,33.1,.,.,.
5,5,T001096,T001100,MW00000,LD01,2018JJ00,788,568,220,32.4,.,.,.

In [78]:
housing_satisfaction = pd.read_csv('Housing_satisfaction_household_and_dwelling_characteristics.csv', sep=';')

In [79]:
housing_satisfaction.head(6)

,ID,OwnerTenant,HouseholdCharacteristics,DwellingCharacteristics,Margins,Periods,SatisfactionWithCurrentDwelling_1,SatisfactionWithLivingEnvironment_2
0,0,T001096,1050010,T001100,MW00000,2002JJ00,89.2,84.3
1,1,T001096,1050010,T001100,MW00000,2006JJ00,89.7,85.0
2,2,T001096,1050010,T001100,MW00000,2009JJ00,90.0,83.4
3,3,T001096,1050010,T001100,MW00000,2012JJ00,89.0,84.1
4,4,T001096,1050010,T001100,MW00000,2015JJ00,86.9,82.0
5,5,T001096,1050010,T001100,MW00000,2018JJ00,84.6,83.3

Now I'd like to check that column Periods contain only 3 categories of values. If so, then I will replace the codes of periods with the number of year in datetime type.

In [21]:
cost_periods = costs['Periods'].unique()

In [22]:
costs['Periods'].replace(periods['Title'].to_dict(), inplace=True)

In [44]:
costs[(costs['Region'] == 'NL01')]

Empty DataFrame
Columns: [ID, OwnerOrTenant, DwellingCharacteristics, Accuracy, Region, Periods, TotalHousingCosts_1, NetRentOrMortgage_2, AdditionalHousingCosts_3, HousingCostRatio_4, NonSkewedRent_5, SkewedTowardsCheapRent_6, SkewedTowardsExpensiveRent_7]
Index: []

In [38]:
costs.query('OwnerOrTenant == 'A025403' & Region == 'NL01'')

SyntaxError: invalid syntax (<ipython-input-38-312e97abe768>, line 1)

In [45]:
costs['Region'].unique()

array(['NL01    ', 'LD01    ', 'LD02    ', 'LD03    ', 'LD04    ',
       'PV20    ', 'PV21    ', 'PV22    ', 'PV23    ', 'PV24    ',
       'PV25    ', 'PV26    ', 'PV27    ', 'PV28    ', 'PV29    ',
       'PV30    ', 'PV31    ', 'CR01    ', 'CR02    ', 'CR03    ',
       'CR04    ', 'CR05    ', 'CR06    ', 'CR07    ', 'CR08    ',
       'CR09    ', 'CR10    ', 'CR11    ', 'CR12    ', 'CR13    ',
       'CR14    ', 'CR15    ', 'CR16    ', 'CR17    ', 'CR18    ',
       'CR19    ', 'CR20    ', 'CR21    ', 'CR22    ', 'CR23    ',
       'CR24    ', 'CR25    ', 'CR26    ', 'CR27    ', 'CR28    ',
       'CR29    ', 'CR30    ', 'CR31    ', 'CR32    ', 'CR33    ',
       'CR34    ', 'CR35    ', 'CR36    ', 'CR37    ', 'CR38    ',
       'CR39    ', 'CR40    ', 'GM0361  ', 'GM0034  ', 'GM0484  ',
       'GM0307  ', 'GM0363  ', 'GM0200  ', 'GM0202  ', 'GM0758  ',
       'GM0503  ', 'GM0505  ', 'GM0228  ', 'GM0772  ', 'GM0114  ',
       'GM0153  ', 'GM0518  ', 'GM0014  ', 'GM0392  ', 'GM0394  ',
       'GM0796  ', 'GM0080  ', 'GM0546  ', 'GM0935  ', 'GM0268  ',
       'GM0599  ', 'GM0855  ', 'GM0344  ', 'GM0983  ', 'GM1783  ',
       'GM0479  ', 'GM0637  ', 'GM0193  '], dtype=object)